
/* Universal */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

/* Navigation */
/*nav style here!*/
 /* end nav */

/*general styles - should be in main CSS - */

body {
		font-family: 'Didact Gothic Serif', serif;
		font-size: 1.25em;
		color: #000000;
		padding: 1%;
		margin: 2% auto;

		}
h1 {
	font-family: "Tw Cen MT", Book Antiqua, sans-serif;
	font-size: 2.5em;
	font-weight: bold;
}

h2 {
	font-family: "Tw Cen MT", Book Antiqua, sans-serif;
	font-size: 1.75em;
	font-weight: bold;
}

p {
	font-family: 'Didact Gothic Serif', serif;
	font-size: 1em;
}

/* Hero Unit Style*/

.download-hero-unit{
    grid-area: hero;
    background-image: url("../img/greenswings.png");
    background-color: rgba(0, 0, 0, 0.3);
	height: 380px;
	background-position: center;
	background-size: cover;
	position: relative;
   	color: white;
    max-width: 90%;
    max-height: 90vh;
    padding: 50% 10%;
    margin: 10% auto;
}

.download-hero-content {
	position: absolute;
	width: 90%;
	top: 25%;
	left: 2%;
	padding: 2%;
	text-align: left;
}

/* Main Content */
.main {
		display: block;
		width: 100%;
		margin:  auto;
		padding: 1%;
		font-size: 1em;
       	text-align: left;
    	grid-gap: 2%;	
	}

.privacypolicy a {
	font-family: "Tw Cen MT", Book Antiqua, sans-serif;
	font-size: 1.57em;
	position: absolute;
	bottom: -30%;
	left: 25%;
	background: #70A33A;
	border-radius: 5px;
	color: white;
	margin: 2% auto;
	padding: 2%;
	text-align: center;
	text-decoration: none;
	}

/* Footer  - insert footer code here! */



/* tablet styles */
	@media only screen and (min-width: 550px) and (max-width: 800px) {
	
.privacypolicy a { 
	font-family: "Tw Cen MT", Book Antiqua, sans-serif;
	font-size: 1.57em;
	position: absolute;
	bottom: -65%; /*This will need to be adjusted for final copy to fit */
	left: 33%;
	text-align: center;
	background-color: #70A33A;
	border-radius: 5px;
	color: white;
	margin: 2% auto;
	padding: 2%;
	}

.download-hero-content {
	position: absolute;
	width: 90%;
	top: 25%;
	left: 2%;
	padding: 2%;
	text-align: center;
}

	.main{

		margin: 2% auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2%;
		grid-template-areas:
		
		"hero hero"
		"block1 block1"
		"footer footer";	
		}
	
	} /*closes tablet media query*/
  
	/* desktop styles */
	@media only screen and (min-width: 801px) {
		
		.download-hero-content {
			position: absolute;
			width: 90%;
			top: 25%;
			left: 2%;
			padding: 2%;
			text-align: center;
		}

	.main{
		margin: 2% auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2%;
		grid-template-areas:
		
		"hero hero hero hero"
		"block1 block1 block1 block1"
		"footer footer footer footer";	
	}
	.privacypolicy a { 
		font-family: "Tw Cen MT", Book Antiqua, sans-serif;
		font-size: 1.57em;
		position: absolute;
		bottom: -150%; /*This will need to be adjusted for final copy to fit */
		left: 38%;
		text-align: center;
		background-color: #70A33A;
		border-radius: 5px;
		color: white;
		margin: 2% auto;
		padding: 2%;
	}
}
		
