
/* --Navigation-- */

nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: white;
	width: 100%;
	box-shadow: 0 4px 4px -4px rgba(0,0,0,.25);
	z-index: 999;
}

nav #nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	z-index: 1;
}

nav #nav-bar a {
	justify-content: flex-start;
}

#nav-menu {
	position: relative;
	top: 150px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	transition: color .3s ease;
	z-index: 0;
	display: none;
}

nav #nav-menu-icon  {
	position: absolute;
	right: 30px;
	width: 50px;
	cursor: pointer;
}

nav #logo {
	width: 100%;
}

nav a {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px 40px 15px 0px;
	font-family: Tw Cen MT;
	font-size: 2.75em;
}

nav a:hover {
	color: #3573B3;
}

nav a:last-of-type {
	border-bottom: none;
}


@media screen and (min-width: 1094px) {
	nav {
		display: flex;
		flex-direction: row;
		height: auto;
		align-items: center;
		padding: 35px 0px 35px 0px;
	}

	#nav-menu {
		position: relative;
		top: 0px;
		height: auto;
		display: flex;
		flex-direction: row;
	}

	nav #nav-menu-icon {
		display: none;
	}

	nav #logo {
		position: absolute;
		left: 30px;
		top: 7px;
		width: 325px;
	}

	nav a {
		font-size: 1.4em;
		padding: 0;
		margin-right: 50px;
		border: none;
	}
}

@media screen and (min-width: 1400px) { 
	nav a {
		font-size: 1.75em;
	}

	nav #logo {
		width: 350px;
	}
}


/* -- Footer -- */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

footer img {
	width: 300px;
	margin-bottom: 40px;
}

footer ul {
	display: flex;
	flex-direction: column;
}

footer a {
	color: inherit;
	font-family: 'Tw Cen MT';
	font-size: 1.5em;
	transition: color .3s ease;
	text-align: center;
	margin-bottom: 10px;
}

footer a:hover {
	color: #3573B3;
}

footer a:last-of-type {
	margin-right: 0;
}


@media screen and (min-width: 1094px) {
	footer ul {
		flex-direction: row;
	}

	footer a {
		margin-right: 50px;
	}
}