/* Universal */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:focus {
	outline: none;
}

button:active {
	outline: none;
}

/*End of reset*/

@font-face {
	font-family: 'Tw Cen MT';
	src: url(../fonts/twcent.TTF);
}

html {
	scroll-behavior: smooth;
}


/* --Body Copy-- */
body {
font-size: 16px;
font-family: 'Didact Gothic';
letter-spacing: .5px;
}

p {	
font-style: normal;
font-weight: normal;
font-size: 2em;
line-height: 1.75em;
letter-spacing: .5px; 
}


/* --Headings-- */
h1 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 7.5em;
line-height: 2;
}

h2 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 5em;
line-height: 2;
}

h3 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 4em;
line-height: 2;
}

h4 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 2.5em;
line-height: 2;
}

h5 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 2em;
line-height: 2;
}

a {
font-weight: bold;
text-decoration: none;
color: inherit;
}

a:visited {
color: inherit;
}

.download-button {
	background-color: #66A340;
	box-shadow: none;
	padding: 10px 20px;
	color: white;
	font-family: Tw Cen MT;
	font-size: 1em;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

.download-button:hover {
	background-color: #3573B3;
}


/* -- Hero Unit/Header -- */
header {
	height: 100vh;
	width: 100%;
	background-image: url(../img/home-hero.png);
	background-size: cover;
	background-position: -300px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

header div {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.45);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

header h1 {
	z-index: 2;
	font-size: 3em;
	line-height: 1;
	text-shadow: 3px -3px rgba(0,0,0,.25);
}

header p {
	z-index: 2;
	text-align: center;
	line-height: 1;
	text-shadow: 2px -2px rgba(0,0,0,.25);
}

header .download-button {
	z-index: 2;
	margin-top: 40px;
	font-size: 1.8em;
	font-weight: 300;
}

header .arrow-link {
	position: absolute;
	z-index: 2;
	width: 50px;
	bottom: 50px;
}

header .down-arrow {
	fill: white;
	transition: fill .3s ease;
}

header .arrow-link:hover .down-arrow {
	fill: #3573B3;
}

/* Youtube video hosting */
.videoContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 0;
}
/*#hero may need to be removed if it interferes too much with other elements*/
#hero {
	position: relative;
}

iframe {
	width: 100%;
	height: 100%
}



/*If we go ahead with embeding a video in the hero of the homepage we may need to remove the background-image property below
*/
@media screen and (min-width: 1094px) {
	header {
		height: 100vh;
		width: 100%;
		background-image: url(../img/home-hero.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}	

	header h1 {
		font-size: 5em;
		letter-spacing: 1px;
	}
}


/* -- Home Content -- */
#home-content {
	padding: 50px 0px;
}

#home-content section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 100px auto;
}

#home-content section img {
	align-self: center;
	width: 100%;
}

#home-content section article {
	font-size: .7em;
	padding: 60px;
}

#home-content section article button {
	margin-top: 25px;
	font-size: 2em;
}

@media screen and (min-width: 1094px) {
	#home-content section {
		flex-direction: row;
		width: 80%;
	}

	.flex-reverse {
		flex-direction: row-reverse !important;
	}
}

/* Media Query method for removing the video from the hero section and placing the still image*/
/*
@media screen and (max-device-width: 768px) {
	#hero {
	background: url(/img/home-hero.png) no-repeat;
	background-size: cover;
	}
	#bgvideo {
	display: none;
	}
}
*/