/* Universal */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of reset*/

/*Desktop media query*/
/* Body Copy */
p {	
font-family: Didact Gothic;
font-style: normal;
font-weight: normal;
font-size: 2em;
line-height: 2.2em;
letter-spacing: 0.01em; 
}

/*anchor links
a:link {
font-family: Didact Gothic;
font-style: normal;
font-weight: normal;
font-size: 2em;
line-height: 2.2em;
letter-spacing: 0.01em;          
color: #3573B3;
}
a:visited {
  color:#99CF6A;
}
*/
/*headings*/
h1 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 7.5em;
line-height: 2;
}

h2 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 5em;
line-height: 2;
}

h3 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 4em;
line-height: 2;
}

h4 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 2.5em;
line-height: 2;
}

h5 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 2em;
line-height: 2;
}


/* Navigation */
nav{
	position: fixed;
	display:grid;
	height:100%;
	max-height: 126px;
	width:100%;
	grid-template-columns: .5fr 3fr 3fr 1.35fr 1fr 1.7fr 1.25fr 2.25fr 1.5fr .5fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:". imglogo . about faq contact team casestudy download ."
					    ". imglogo . . . . . . . . ";
	background-color: #FFFFFF;
	margin: auto;
}
.nav-link{
font-family: Tw Cen MT;
font-style: normal;
font-size: 2.5em;
line-height: 1.5;
color:black;
text-decoration: none;
display:block;
padding:1%;
}
.nav-button{
	grid-area:download;
	background: #7FB069;
    border-radius: 5px; 
	height:100%;
	max-height:45px;
	width:100%;
	max-width: 175px;
	border:none;
	margin: auto;
	
}
.nav-button-text{
	font-family: Tw Cen MT;
    font-style: normal;
	font-size: 2.5em;
	line-height: 1;
	color:white;
	text-decoration: none;
	margin:auto;
}
.nav-img-logo{
	max-height:123px;
	height:100%;
	width:auto;
}
.nav-link-img{
	grid-area:imglogo;
	margin:auto;
	
}
.nav-link-about{
	grid-area:about;
	
}
.nav-link-faq{
	grid-area:faq;
	
}
.nav-link-contact{
	grid-area:contact;
	
}
.nav-link-team{
	grid-area:team;
	
}
.nav-link-casestudy{
	grid-area:casestudy;
	
}
.nav-link-download{
	
	padding:10% 0 0 0;
	
}
.nav-acc{
		display:none;
	}

/* Hero Unit */

/* Main Content */

/* Footer */
/*Mobile media Query*/
@media only screen and (max-width: 501px)
{
nav{
	position: fixed;
	max-height: 106px;
	width:100%;
	grid-template-columns: .5fr 4fr .5fr 1fr .5fr;
	grid-template-rows:1fr 1fr;
	grid-template-areas:". imglogo . acc ."
					    ". imglogo . acc . ";
	background-color: #FFFFFF;
	margin: auto;
}	
.nav-acc {
		grid-area:acc;
		height:100%;
		width: auto;
		max-height:50px;
		margin:auto;
}
	
	.nav-link{
display:none;

}
	.nav-link-img{
	grid-area:imglogo;
	margin:auto;
	
}
.nav-link-about{
	display: none;
	
}
.nav-link-faq{
	display: none;
	
}
.nav-link-contact{
	display: none;
	
}
.nav-link-team{
	display: none;
	
}
.nav-link-casestudy{
	display: none;
	
}
.nav-button{
	display: none;
}
.nav-acc {
		display:block;
		grid-area:acc;
		height:100%;
		max-height:50px;
		margin:auto;
	}

}
