
/* Universal */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of reset*/
body {
font-size:10px;
height: 100%;
width: 100%;

}

/* Body Copy */
p {	
font-family: Didact Gothic;
font-style: normal;
font-weight: normal;
font-size: 2em;
line-height: 2.2em;
letter-spacing: 0.01em; 
}

html, body {
    height: 100%;
    font-family: Tw Cen MT;
    scroll-behavior: smooth;
}

/*anchor links
a:link {
font-family: Didact Gothic;
font-style: normal;
font-weight: normal;
font-size: 2em;
line-height: 2.2em;
letter-spacing: 0.01em;          
color: #3573B3;
}
a:visited {
  color:#99CF6A;
}
*/
/*headings*/
h1 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 7.5em;
line-height: 2;
}

h2 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 5em;
line-height: 2;
}

h3 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 4em;
line-height: 2;
}

h4 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 2.5em;
line-height: 2;
}

h5 {
font-family: Tw Cen MT;
font-style: normal;
font-weight: bold;
font-size: 2em;
line-height: 2;
}

/*Mobile media Query*/
/*page styling*/
#team-body{
	display:grid;
	height:100%;
	max-height: 1710px;
	width:100%;
	grid-template-rows: 106px 223px auto 180px;
	grid-template-areas:"."
						"hero"
						"main"
						"footer";
	
}
/*Nav bar*/
nav{
	display: grid;
	position: fixed;
	max-height: 106px;
	width:100%;
	grid-template-columns: .25fr 4fr 3fr 1fr .5fr;
	grid-template-rows:1fr 1fr;
	grid-template-areas:". imglogo . acc ."
					    ". imglogo . acc .";
	background-color: #FFFFFF;
  margin: auto;
}
	
.austin-nav {
  position: fixed;
  width: 100%;
  z-index: 900;
}

.austin-navigation-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-column-gap: 0%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 1);
}

.austin-navigation-list-logo {
  padding: 0;
  margin: 0 auto;
}

.austin-navigation-list-item {
  padding: 48px 0 0 0;
  margin: 0 auto;
  color: #333;
  text-decoration: none;
  font-size: 25px;
  line-height: 80%;
}

.austin-navigation-list-item:hover {
  color: rgb(0, 72, 131);
  text-decoration: none;
}

.austin-navigation-list-download {
  padding: 33px 0 0 0;
  margin: 0 auto;
  color: #333;
  text-decoration: none;
  font-size: 25px;
  line-height: 80%;
}

.austin-button-download {
  color: white;
  border: none;
  background-color: #7FB069;
  border-radius: 5px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
}

/* Hero Unit */
.subtitle {
  margin-top: 1em;
  font-size: 22px;
  line-height: 110%;
  font-family: Didact Gothic, sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 0.06em;
  padding-top: 2%;
}
.nav-button-text{
	font-family: Tw Cen MT;
    font-style: normal;
	font-size: 2.5em;
	line-height: 1;
	color:white;
	text-decoration: none;
	margin:auto;
}	
.nav-acc {
		display:block;
		grid-area:acc;
		height:100%;
		width:auto;
		max-height:70px;
		margin:auto;
}
	
	.nav-link{
display:none;

}
	.nav-link-img{
	grid-area:imglogo;
	margin:auto;
	max-height: 106px;
}
.nav-link-about{
	display: none;
	
}
.nav-link-faq{
	display: none;
	
}
.nav-link-contact{
	display: none;
	
}
.nav-link-team{
	display: none;
	
}
.nav-link-casestudy{
	display: none;
	
}
.nav-button{
	display: none;
}
.nav-img-logo{
	max-height:106px;
	height:100%;
	width:auto;
}
/*Footer*/
footer{
	grid-area: footer;
	display:grid;
	grid-template-rows: .1fr 3fr .2fr 1fr .75fr;
	grid-template-columns: 1fr auto auto auto auto auto auto auto 1fr;
	grid-template-areas:". . . . . . . . . "
						". . . . . fimglogo . . . "
						". . . . . fimglogo . . . "
						". fhome ffaq fabout fcontact fteam fcase fprivacy ."
						". . . . . . . . . ";
	align-items: center;
	max-height:180px;
	margin:auto;
	}
.footer-img-logo{
	
	max-height:50px;
	height:100%;
	width:auto;
}
.footer-link{
font-family: Tw Cen MT;
font-style: normal;
font-size: .5em;
line-height: 1;
color:black;
text-decoration: none;
padding:0% 10px;
}
.footer-link-about{
	grid-area:fabout;
	margin: auto;
}
.footer-link-faq{
	grid-area:ffaq;
	margin: auto;
}
.footer-link-contact{
	grid-area:fcontact;
	margin: auto;
}
.footer-link-team{
	grid-area:fteam;
	margin: auto;
}
.footer-link-casestudy{
	grid-area:fcase;
	margin: auto;
}
.footer-link-home{
	grid-area:fhome;
	margin: auto;
}
.footer-link-privacy{
	grid-area:fprivacy;
	margin: auto;
}	
.acc{
	border:none;
	background:none;
	font-size: 6em;
	color: #004883;
	
}
.footer-link-img{
	grid-area:fimglogo;
	margin:auto;
	height: 100%;
	width:100%;
	
}
/*Nav Modal*/
#navModal{
	background: #FFFFFF;
	height:100%;
	position: fixed !important;
	
	grid-template-areas: ". close . ."
						 ". . . mdownload"
						 ". . . mabout"
						 ". . . mfaq"
						 ". . . mcontact"
						 ". . . mteam"
					     ". . . mcase"
						 ". . . mlogo";
	grid-template-columns: .2fr .2fr .8fr 2.8fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
	max-height:784px;
	
}
.modal-link{
font-family: Tw Cen MT;
font-weight: bold;
font-size: 5em;
line-height: 1.5;
color:black;
text-decoration: none;
display:block;
padding:0% 5% 0% 0%;
text-align: right;


}
.underline{
	height:2px;
	width:100%;
	bottom:0px;
	/*margin:auto 0% auto 20%;*/
	background:black;
}
.modal-link-img{
	grid-area: mlogo
}
.modal-img-logo{
	max-height:90px;
	max-width: 90px;
	margin:auto;
	width: auto;
	padding: 5%;
	
}
.close{
	grid-area:close;
	border:none;
	background:none;
	font-size: 8em;
}
.modal-link-download{
	grid-area: mdownload;
}
.modal-link-about{
	grid-area: mabout;
}
.modal-link-faq{
	grid-area: mfaq;
}
.modal-link-contact{
	grid-area: mcontact;
}
.modal-link-team{
	grid-area: mteam;
}
.modal-link-case{
	grid-area: mcase;
}
.modal-color-green{
	background: rgba(80, 128, 61, 0.5);
}
/* Hero Unit */
/* hero image/video */
body {
		font-family: 'Didact Gothic', serif;
		font-size: 1.25em;
		color: #000000;
		padding: 1%;
		margin: 2% auto;

		}

span {
	font-style: italic;
	}

button {
	background: #7FB069;
	border-radius: 5px;
	color: white;
	margin:  auto;
	padding: 1%;
	}

a:link, a:visited {
	background: #7FB069;
	border-radius: 5px;
	color: white;
	margin: 2% auto;
	padding: 1%;
	text-decoration: none;
	}

.home-imagebox {
	grid-area: image;
	display: block;
	margin: auto;
	max-width: 600px;

		}

.home-imagebox img {
	width: 100%;

		}

.home-hero-unit{
	grid-area: hero;
	background-image: url("img/backofswings.png");
	background-size: cover;
   	color: white;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: left;
    padding: 10% 2%;
    margin: 10% auto;
}
.home-hero-content {
	background-image: url("backofswings.png");
	padding: 2%;
.scrollDown {
  background-color: rgba(255, 255, 255, 1);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  text-align: center;
  display: block;
  font-size: 3em;
	color: rgb(46, 46, 46);
	position: absolute;
	bottom: 10%;
  left: 49%;
}

.glyphicon {
  top: 10px;
  left: 1px;
}

/* About Hero Unit */

.about-unit-hero {
  background: linear-gradient( rgba(0, 72, 131, 0.5),  rgba(0, 72, 131, 0.5)), url('../img/about-pavilion.jpg') fixed;
  background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
  margin: 0;
}

.about-text-hero {
  text-align: left;
  position: absolute;
  width: 95%;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

/* FAQ Hero Unit */

.about-unit-hero {
  background: linear-gradient( rgba(80, 128, 61, 0.5),  rgba(80, 128, 61, 0.5)), url('../img/about-pavilion.jpg') fixed;
  background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
  margin: 0;
}

.about-text-hero {
  text-align: left;
  position: absolute;
  width: 95%;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Main Content */
.home-main {
		width: 100%;
		margin:  auto;
		padding: 1%;
		font-style: normal;
		font-weight: normal;
		font-size: 1em;
   		width: 100%;
    	text-align: left;
    	grid-gap: 2%;


	}

		.home-block1 {
			display: block;
			margin: 1% auto;
			padding: 1%;
			}

		.home-block2 {
			padding: 2%;
			margin: 2% auto;
		}

		.home-block3 {
			padding: 2%;
			margin: 2% auto;
		}

		.home-block4 {
			padding: 2%;
			margin: 2% auto;
		}

/* Footer */

/* tablet styles */
	@media only screen and (min-width: 550px) and (max-width: 700px) {

	.home-main{
		margin: 2% auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2%;
		grid-template-areas:

		"block1 image1"
		"image2 block2"
		"block3 image3"
		"image4 block4";
	}

	}

	/* desktop styles */
	@media only screen and (min-width: 701px) {

	.home-main {
		margin: 2% auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2%;
		grid-template-areas:

		"block1 image1"
		"image2 block2"
		"block3 image3"
		"image4 block4";
	}
}

/* About Main Content */

#about-container-content {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5% 0;
  width: 100%;
  padding: 5% 5% 10% 10%;
}

.about-paragraph-goal {
  padding-top: 3%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.01em;
  color: #000000;
}

.about-placeholder {
  padding: 20% 40% 0% 0%;
  grid-column-start: 5;
  grid-column-end: 7;
}

/* Hero Unit */
.hero-unit{
	grid-area: hero;
	background-image: url(../imgs/squad.png);
	width: auto;
	height: 100%;
	max-height: 223px;
	background-size: 100%;
}
/* Main Content */
.main{
	grid-area: main;
	height: 100%;
	width: auto;
}
.main-bar{
	max-height: 66px;
	height:100%;
	background: #3573B3;
	max-width:1286px;
	margin:26px auto auto auto;
	color:white; 
	display:grid;
	grid-template-columns: 4% 2fr 3fr 1fr 4% ;
	grid-template-areas: ". text . drop .";
}
.main-bar-text{
	margin:auto auto auto 4%;
	grid-area:text;
}
.panel {
	grid-area: panel;
	padding: 0 18px;
	display: none;
	overflow: hidden;
	height:100%;
	max-height:635px;
	width:auto;
  }
.drop{
	grid-area:drop;
	border: none;
	background: none;
	margin: 0 0 auto 50%;
	display: block;
	height: auto;
	width: auto;
	cursor: pointer;
	transition: 0.4s;
}
.drop:after {
    content: '\002B';
    color:white;
    font-weight: bold;
	font: 4em sans-serif;
	
}
.drop.active:after {
    content: "\2212";
}
/*Mobile media Query End*/


/*Tablet media query*/
@media only screen and ( min-width : 800px )
{
nav{
	max-height: 106px;
	height: 100%;
	display: grid;
	grid-template-columns: .2fr auto .5fr auto auto auto auto auto auto .05fr;
	grid-template-areas:". imglogo . about faq contact team casestudy download .";
	
	}
	
.nav-link{
font-family: Tw Cen MT;
text-decoration: none;
font-style: normal;
font-weight: bold;
font-size: 1.5em;
line-height: 1.5;
display:block;
padding:1%;
margin:auto;
color:black;
}	
.nav-button{
	display: block;
	grid-area:download;
	height:100%;
	max-height:30px;
	width:100%;
	max-width: 175px;
	border:none;
	margin: auto;
	background: #7FB069;
    border-radius: 5px; 
}

	

.nav-button-text{
	font-family: Tw Cen MT;
    font-style: normal;
	font-size: 1.5em;
	line-height: 1;
	color:white;
	text-decoration: none;
	margin:auto;
}
.nav-link-img{
	grid-area:imglogo;
	margin:auto;
	
	
}
.nav-img-logo{
	max-height:100px;
	height:100%;
	width:auto;
}
.nav-link-about{
	grid-area:about;
	
}
.nav-link-faq{
	grid-area:faq;
	
}
.nav-link-contact{
	grid-area:contact;
	
}
.nav-link-team{
	grid-area:team;
	
}
.nav-link-casestudy{
	grid-area:casestudy;
	
}
.nav-link-download{
	
	padding:10% 0 0 0;
	
}
.nav-acc{
		display:none;
	}
}

footer{
grid-template-rows: .2fr 1fr .2fr 1fr .2fr;

}
.footer-img-logo{
max-height:60px;
height:100%;
width:auto;
}
.footer-link{
text-decoration: none;
font-size: 1.5em;
line-height: 1;

.about-container-park {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5% 5%;
}

.about-heading-park {
  text-align: center;
}

.about-container-features {
  grid-column-start: 3;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5% 5%;
}

.about-heading-features {
  text-align: center;
}

.about-container-future {
  grid-column-start: 5;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5% 5%;
}

.about-heading-future {
  text-align: center;
}

.about-paragraph-phonedesc {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.01em;
  text-align: center;
}

/* Footer */

.about-footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  grid-gap: 7% 5%;
  margin: 10% 0 2% 0;
}

.about-footer-image {
  grid-column-start: 1;
  grid-column-end: 7;
  margin: 0 auto;
  padding: 0;
}

.footer-list-item {
  font-size: 25px;
  line-height: 80%;
}

.footer-list-item > a {
  color: #333;
}

.footer-list-item > a:hover {
  text-decoration: none;
  color: rgb(0, 72, 131);
}

@media only screen and (min-width: 1200px) {
  * {
      box-sizing: border-box;
  }

  html, body {
      height: 100%;
      font-family: Tw Cen MT;
      scroll-behavior: smooth;
  }

  /* Desktop Navigation */

  .about-nav {
    position: fixed;
    width: 100%;
    z-index: 900;
  }

  .about-navigation-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 0%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 1);
  }

  .about-navigation-list-logo {
    padding: 0;
    margin: 0 auto;
  }

  .about-navigation-list-item {
    padding: 48px 0 0 0;
    margin: 0 auto;
    color: #333;
    text-decoration: none;
    font-size: 25px;
    line-height: 80%;
  }

  .about-navigation-list-item:hover {
    color: rgb(0, 72, 131);
    text-decoration: none;
  }

  .about-navigation-list-download {
    padding: 33px 0 0 0;
    margin: 0 auto;
    color: #333;
    text-decoration: none;
    font-size: 25px;
    line-height: 80%;
  }

  .about-button-download {
    color: white;
    border: none;
    background-color: #7FB069;
    border-radius: 5px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
  }

  /* Desktop Hero Unit */

  /* Desktop About Hero Unit */

  .about-unit-hero {
    background: linear-gradient( rgba(0, 72, 131, 0.5),  rgba(0, 72, 131, 0.5)), url('../img/about-pavilion.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .about-text-hero {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .subtitle {
    margin-top: 1em;
    font-size: 36px;
    line-height: 39px;
  }

  .scrollDown {
    background-color: rgba(255, 255, 255, 1);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 60px;
    text-align: center;
    display: block;
    font-size: 3em;
    color: rgb(46, 46, 46);
    position: absolute;
    bottom: 10%;
    left: 49%;
  }

  .glyphicon {
    top: 10px;
    left: 1px;
  }

  /* Desktop About Main Content */

  #about-container-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10% 5%;
    padding: 5% 10% 10% 10%;
  }

  .about-goal {
    padding-right: 15%;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .about-paragraph-goal {
    padding-top: 3%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #000000;
  }

  .about-placeholder {
    padding: 20% 40% 0% 0%;
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .about-container-park {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5% 5%;
  }

  .about-heading-park {
    text-align: center;
  }

  .about-container-features {
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5% 5%;
  }

  .about-heading-features {
    text-align: center;
  }

  .about-container-future {
    grid-column-start: 5;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5% 5%;
  }

  .about-heading-future {
    text-align: center;
  }

  .about-paragraph-phonedesc {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-align: center;
  }

  /* Desktop FAQ Main Content */

  .faq-button {
    color: white;
    border: none;
    background-color: #7FB069;
    border-radius: 5px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    line-height: 50%;
  }

  /* Desktop Footer */

  .austin-footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    grid-gap: 7% 5%;
    margin: 10% 0 2% 0;
  }

  .austin-footer-image {
    grid-column-start: 1;
    grid-column-end: 7;
    margin: 0 auto;
    padding: 0;
  }

  .footer-list-item {
    font-size: 25px;
    line-height: 80%;
  }

  .footer-list-item > a {
    color: #333;
  }

  .footer-list-item > a:hover {
    text-decoration: none;
    color: rgb(0, 72, 131);
  }
}
/*Tablet media query end*/

/*desktop media query*/
@media only screen and ( min-width : 1332px )
{
/*body styles*/
.team-body{
	grid-template-rows: auto 745px auto 180px;
}
	/* Navigation */
nav{
	position: fixed;
	height:100%;
	max-height: 106px;
	width:100%;
	grid-template-columns: .2fr auto .5fr auto auto auto auto auto auto .05fr;
	grid-template-areas:". imglogo . about faq contact team casestudy download .";
	background-color: #FFFFFF;
	margin: auto;
	align-items: center;
	
}
.nav-link{
font-weight: bold;
font-family: Tw Cen MT;
font-size: 2.5em;
line-height: 1.5;
color:black;
text-decoration: none;
display:block;
padding:15%;
width: 100%;
}
.nav-button{
	
	text-decoration: none;
	max-height:45px;
	margin: auto auto auto 10%;
}
.nav-button-text{

	font-size: 2em;
	
}
.nav-img-logo{
	max-height:103px;
	height:100%;
	width:auto;
}
.nav-link-img{
	grid-area:imglogo;
	margin:auto;
	
}
.nav-link-about{
	grid-area:about;
	
}
.nav-link-faq{
	grid-area:faq;
	
}
.nav-link-contact{
	grid-area:contact;
	
}
.nav-link-team{
	grid-area:team;
	
}
.nav-link-casestudy{
	grid-area:casestudy;
	padding: 15% 20% 15% 15%;
}
.nav-link-download{
	
	padding:10% 0 0 0;
	
}
.nav-acc{
		display:none;
	}
/* Footer */
footer{
	
	height:100%;
	max-height:220px;
	width:100%;
	grid-template-rows: .2fr 3fr .2fr 1fr .2fr;
	/*grid-template-columns: 3fr 1.75fr 1.25fr 1.75fr 2.1fr 1.5fr 3fr 3.5fr 3fr;*/
	
}
.footer-img-logo{
	max-height:123px;
	height:100%;
	width:auto;
}

.footer-link{
font-family: Tw Cen MT;
font-style: normal;
font-size: 2em;
display:block;
padding:0 15px;
text-decoration: none;
}
/*Hero*/
.hero-unit{
	max-height: 745px;
}

} /*desktop media query end*/


