
/* -- Hero Unit/Header -- */
header {
	height: 100vh;
	width: 100%;
	background-image: url(../img/faq-hero.png);
	background-size: cover;
	background-position: -300px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

header div {
	height: 100%;
	width: 100%;
	background-color: rgba(80, 128, 61, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

header h1 {
	z-index: 1;
	font-size: 3em;
	line-height: 1;
}

header p {
	z-index: 1;
	text-align: center;
	line-height: 1;
}

header .arrow-link {
	position: absolute;
	z-index: 1;
	width: 50px;
	bottom: 50px;
}

header .down-arrow {
	fill: white;
	transition: fill .3s ease;
}

header .arrow-link:hover .down-arrow {
	fill: #3573B3;
}


@media screen and (min-width: 1094px) {
	header {
		height: 100vh;
		width: 100%;
		background-image: url(../img/faq-hero.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}	

	header h1 {
		font-size: 5em;
		letter-spacing: 1px;
	}
}


/* -- Home Content -- */
#faq-content {
	padding: 50px 0px;
}

#faq-content section {
	display: flex;
	flex-direction: column;
	width: 100%;
    margin: 50px auto;
	padding-bottom: 60px;
	justify-content: center;
}

#faq-content h4 {
    padding: 0 50px 0 50px;
	line-height: 1.2;
	text-align: center;
}

#faq-content section img {
	align-self: center;
	width: 100%;
}

#faq-content section article {
    font-size: .7em;
    padding: 50px 50px 0 50px;
}

#faq-content a {
	align-self: center;
}

.faq-help {
	align-items: center;
}

#faq-content .download-button {
	font-size: 2.5em;
}

strong {
    font-family: 'Tw Cen MT';
	font-style: normal;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.2em;
}

@media screen and (min-width: 1094px) {
    #faq-content {
        padding: 50px 20%;
    }

	#faq-content section {
        flex-direction: column;
	}

	.flex-reverse {
		flex-direction: row-reverse !important;
	}
}