/* Universal */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:focus {
	outline: none;
}

button:active {
	outline: none;
}

/*End of reset*/

@font-face {
	font-family: 'Tw Cen MT';
	src: url(../fonts/twcent.TTF);
}

html {
    scroll-behavior: smooth;
}

/* --Body Copy-- */
body {
    font-size: 16px;
    font-family: 'Didact Gothic';
    letter-spacing: .5px;
}

p {	
font-style: normal;
font-weight: normal;
font-size: 2em;
line-height: 1.75em;
letter-spacing: .5px; 
}

/* --Headings-- */
h1 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 7.5em;
line-height: 2;
text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.35);
}

h2 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 3.5em;
line-height: 2;
}

h3 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 3em;
line-height: 2;
}

h4 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 2.5em;
line-height: 2;
}

h5 {
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: bold;
font-size: 2em;
line-height: 2;
}

a {
font-weight: bold;
text-decoration: none;
color: inherit;
}

a:visited {
color: inherit;
}

.download-button {
	background-color: #66A340;
	box-shadow: none;
	padding: 10px 20px;
	color: white;
	font-family: Tw Cen MT;
	font-size: 1em;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

.download-button:hover {
	background-color: #3573B3;
}

strong {
    font-family: 'Tw Cen MT';
	font-style: normal;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.2em;
}

/* -- Hero Unit/Header -- */
header {
    position: relative;
	height: 100vh;
	width: 100%;
	background-color: #004883;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    color: white;
}

header h1 {
	z-index: 1;
	font-size: 3em;
    line-height: 1;
}

header p {
	z-index: 1;
	text-align: center;
	line-height: 1;
    margin-bottom: 25%;
}

header .download-button {
	z-index: 1;
	margin-top: 40px;
	font-size: 1.8em;
	font-weight: 300;
}

header .arrow-link {
	width: 50px;
	bottom: 50px;
}

header .arrow-link {
    position: absolute;
}

header .down-arrow {
	fill: #66A340;
	transition: fill .3s ease;
}

header .arrow-link:hover .down-arrow {
	fill: #004883;
}

header .casestudy-logo {
    position: absolute;
    bottom: 0;
    max-width: 100%;
}

header .hero-screenshot {
    position: absolute;
    bottom: -20%;
    left: 12%;
    max-width: 333px;
    width: 50%;
}

header .hero-screenshot2 {
    position: absolute;
    bottom: -12%;
    left: 37%;
    max-width: 333px;
    width: 50%;
}

@media screen and (min-width: 730px) {
    header .hero-screenshot {
        left: 22%;
    }

    header .hero-screenshot2 {
        left: 40%;
    }
}

@media screen and (min-width: 1094px) {
	header {
		height: 100vh;
        width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}	

	header h1 {
		font-size: 5em;
		letter-spacing: 1px;
    }
    
    header .hero-screenshot {
        max-width: 333px;
        left: 33%;
    }

    header .hero-screenshot2 {
        max-width: 333px;
        left: 45%;
    }
}


/* -- Case Study Content -- */

#casestudy-content section {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	width: 100%;
    color: white;
}

#casestudy-content .green-bg {
    background-color: #66A340;
}

#casestudy-content .blue-bg {
    background-color: #004883;
}

#casestudy-content .white-bg {
    background-color: #F0F0F0;
    color: black;
}

#casestudy-content section h2 {
    text-align: center;
    line-height: 1.2em;
    padding: 60px;
}

#casestudy-content section img {
    max-width: 80%;
    padding: 30px;
}

#casestudy-content section article {
	font-size: .7em;
	padding: 60px;
}

#casestudy-content section article button {
	margin-top: 25px;
	font-size: 2em;
}

#casestudy-content section .heading-left {
    text-align: left;
    padding: 0;
    padding: 20px 0 20px 0;
    font-size: 5em;
}

@media screen and (min-width: 1094px) {

}

/* -- Introduction -- */

#casestudy-content .introduction {
    position: relative;
    z-index: 1;
    background-image: url('../img/casestudy-intro-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#casestudy-content section .intro-article {
    background-color: #F0F0F0;
    color: black;
    padding-top: 15px;
}

@media screen and (min-width: 1094px) {

    #casestudy-content .introduction {
        height: 100vh;
    }

    #casestudy-content section .intro-article {
        margin-left: 8%;
    }

    #casestudy-content section .intro-article p {
        width: 950px;
    }

    .intro-article {
        border-radius: 5px;
    }
}

/* -- Challenges -- */

#casestudy-content .challenge-section h2 {
    padding-bottom: 40px;
}

#casestudy-content .challenge-section h3 {
    padding: 20px;
}

#casestudy-content .challenge-section article {
    padding: 40px;
}

#casestudy-content .challenge-section div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#casestudy-content .challenge-section img {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 260px;
}

#casestudy-content .challenge-section div p {
    padding-bottom: 60px;
}

@media screen and (min-width: 1094px) {

    #casestudy-content .challenge-section article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #casestudy-content .challenge-section .challenge-div-left {
        text-align: right;
        width: 23%;
    }

    #casestudy-content .challenge-section .challenge-div-right {
        text-align: left;
        width: 23%;
    }

    #casestudy-content .challenge-section img {
        padding: 60px;
        margin: 0;
    }

    #casestudy-content .challenge-section div p {
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.01em;
    }

    #casestudy-content .challenge-section img {
        min-width: 300px;
    }

}

/* -- App Features -- */

#casestudy-content .app-section {
    padding-bottom: 60px;
}

#casestudy-content .app-section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

#casestudy-content .app-section h2 {
    padding-bottom: 60px;
}

#casestudy-content .app-section article div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex: 0 0 40%;
    padding: 20px;
}

#casestudy-content .app-section article div aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#casestudy-content .app-section img {
    padding: 10px;
    max-width: 86px;
}

@media screen and (min-width: 1094px) {

    #casestudy-content .app-section article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding: 15px 60px;
    }

    #casestudy-content .app-section article div {
        padding: 15px 60px;
    }

    #casestudy-content .app-section article div aside {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-end;
    }

    #casestudy-content .app-section p {
        font-family: Didact Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.01em;
        height: 50%;
    }

    #casestudy-content .app-section img {
        padding: 30px 20px;
    }
}
/* -- Tech Stack -- */

#casestudy-content .tech-section .tech-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#casestudy-content .tech-section .tech-article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#casestudy-content .tech-section .tech-article div img {
    padding: 30px 10px 30px 10px;
    height: auto;
}

#casestudy-content .tech-section .tech-article div .react-native-img {
    max-width: 70%;
}

#casestudy-content .tech-section .tech-article div h2 {
    padding: 0px 60px 100px 60px;
    justify-self: flex-end;
}

@media screen and (min-width: 1094px) {

    #casestudy-content .tech-section .tech-article {
        display: flex;
        flex-direction: row;
    }

    #casestudy-content .tech-section .tech-article .extra-pad {
        padding-bottom: 100px;
    }

    #casestudy-content .tech-section .tech-article .extra-margin {
        margin-top: 99px;
        padding-bottom: 32px;
     }

    #casestudy-content .tech-section .tech-article .extra-margin2 {
       margin-top: 102px;
       padding-bottom: 25px;
    }

    #casestudy-content .tech-section .tech-article div img {
        padding: 30px 10px 30px 10px;
        height: auto;
        width: 60%;
    }
}
/* -- The Architecture -- */

#casestudy-content section .architecture-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#casestudy-content section .architecture-article {
    padding: 4% 0;
}

#casestudy-content section .architecture-article img {
    min-width: 250px;
}

@media screen and (min-width: 1094px) {
    #casestudy-content section .architecture-article img {
        padding-top: 0;
        min-width: 250px;
        width: 44%;
    }
}

/* -- Design Section -- */

#casestudy-content .design-section {
    padding-bottom: 0px;
}

#casestudy-content .design-section h2 {
    padding-bottom: 0px;
}

#casestudy-content .design-section div {
    padding: 20px;
}

#casestudy-content section .design-article img {
    padding: 30px 10px 30px 10px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1094px) {

    #casestudy-content section .design-article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/* -- Mood Styling -- */

#casestudy-content section .mood-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#casestudy-content section .mood-article {
    padding: 60px 0;
}

#casestudy-content .mood-section h2 {
    padding-bottom: 0;
}

#casestudy-content section .mood-article img {
    border-radius: 15px;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 1094px) {
    #casestudy-content section .mood-article img {
        margin-bottom: 60px;
        width: 75%;
    }
}

/* -- Interactive Experience -- */

#casestudy-content .interactive-section {
    height: 100vh;
}

#casestudy-content section .interactive-article {
    color: black;
}

/* -- Promotions -- */

#casestudy-content .promotions {
    background-image: url('../img/casestudy-promotions-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#casestudy-content section .promotions-article {
    background-color: #F0F0F0;
    color: black;
    padding-top: 30px;
}

@media screen and (min-width: 1094px) {

    #casestudy-content .promotions {
        height: 100vh;
    }

    #casestudy-content section .promotions-article {
        border-radius: 5px;
        margin-right: 8%;
    }

    #casestudy-content section .promotions-article p {
        width: 950px;
    }
}

/* -- Results -- */

#casestudy-content .results-section .results-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#casestudy-content .results-section h2 {
    padding-bottom: 0;
}

#casestudy-content .results-section article {
    padding-bottom: 0;
}

#casestudy-content .results-section .results-article {
    padding-bottom: 60px;
}

#casestudy-content .results-section article p {
    padding-bottom: 25px;
}

#casestudy-content .results-section div {
    text-align: center;
}

#casestudy-content .results-section img {
    padding: 10px;
    margin: 0 auto;
}

@media screen and (min-width: 1094px) {

#casestudy-content .results-section article p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

    #casestudy-content .results-section .results-article {
        flex-direction: row;
    }
}