
/* -- Hero Unit/Header -- */
header {
	height: 100vh;
	width: 100%;
	background-image: url(../img/about-hero.png);
	background-size: cover;
	background-position: -300px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

header div {
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 72, 131, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

header h1 {
	z-index: 1;
	font-size: 3em;
	  line-height: 1;
	  text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
	z-index: 1;
	text-align: center;
  	line-height: 1;
}

header .download-button {
	z-index: 1;
	margin-top: 40px;
	font-size: 1.8em;
	font-weight: 300;
}

header .arrow-link {
	position: absolute;
	z-index: 1;
	width: 50px;
	bottom: 50px;
}

header .down-arrow {
	fill: white;
	transition: fill .3s ease;
}

header .arrow-link:hover .down-arrow {
	fill: #3573B3;
}


@media screen and (min-width: 1094px) {
	header {
		height: 100vh;
		width: 100%;
		background-image: url(../img/about-hero.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}	

	header h1 {
		font-size: 5em;
		letter-spacing: 1px;
	}
}


/* -- Home Content -- */
#about-content {
	padding: 50px 0px;
}

#about-content section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

#about-content section img {
	align-self: center;
	width: 100%;
	padding: 20px;
}

#about-content section article {
	font-size: .7em;
	padding: 50px;
}

#about-content section article p {
	padding-top: 40px;
}

#about-content section article button {
	margin-top: 25px;
	font-size: 2em;
}

#about-content .phone-examples {
  	display: flex;
  	flex-direction: column;
}

#about-content section div {
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  	font-size: .7em;
	  padding: 60px 20px;
}

#about-content section div p {
	font-size: 1.6em;
}

#about-content section img {
  max-width: 300px;
}

#about-content section .leaf-motif-frame {
	max-width: 260px;
	margin-left: 10%;
}

@media screen and (min-width: 1094px) {
	#about-content section {
		flex-direction: row;
		width: 80%;
	  }
	
	.leaf-motif-frame {
		padding-left: 15%;
	}

  #about-content .phone-examples {
		flex-direction: row;
		justify-content: center;
    align-content: center;
   }
   
  #about-content section div {
    min-width: 362px;
  }

	.flex-reverse {
		flex-direction: row-reverse !important;
	}

	#about-content section .leaf-motif-frame {
		max-width: 380px;
	}
}
